{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EGY-ESTATES</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/res.css'%}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{% url 'Home'%}">
            <h2><strong>EGY-ESTATES</h2>
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <div class="">
                <li class="">
                  {% if user.is_authenticated %}
                  <a class="" href="{% url 'logout'%}">
                    Logout
                  </a>
                  {% else %}
                  <a class="" href="{% url 'login'%}">
                    Login
                  </a>
                  <a class="" href="{% url 'signup'%}">
                    Signup
                  </a>
                  {% endif %}
                </li>
              </div>
            </ul>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">
                </span>
                <span class="s-2">
                </span>
                <span class="s-3">
                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{% url 'Home'%}">HOME</a>
                <a href="#about">About Us</a>
                <a href="{% url 'products' %}">PROPERTIES</a>
                <a href="{% url 'form' %}">PREDICT</a>
                <a href="#contact">Contact Us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1 id="Home">
                <span> Modern</span> <br>
                Properties <br>
                Predict
              </h1>
              <p>
                Buy, Sell, and Predict Your Properties Price Using Our Real Time Artificial Intelligence Model,
                Register Now And A Report Will Be Sent To Your E-Mail Within A Minitue!
              </p>
              <div class="btn-box">
                <a href="" class="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- find section -->
  <section class="find_section ">
    <div class="container">
      <form action="">
        <div class=" form-row">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Serach Your Categories ">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Location ">
          </div>
          <div class="col-md-2">
            <button type="submit" class="">
              search
            </button>
          </div>
        </div>

      </form>
    </div>
  </section>

  <!-- end find section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom" ; id="about">
    <div class="square-box">
      <img src="{% static 'image/square.png'%}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'image/8.webp'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Our Prediction Model
              </h2>
            </div>
            <p>
              There Are Many Variations Of Real Estate Websites Available, But Our Website Is Unique As
              We Made An Artificial Intelligence Model To Predict Your Property Price Based On Similar Properties,
              We Don't Send You Only The Prediction Price Of Your Property, But Also A Report Made By Professionals
              Data Analysts To Show You The Similar Properties And What Makes Your Property Get Selled Faster Than The
              Average Ones!
            </p>
            <a href="{% url 'form'%}">
              Try It
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- price section -->

  <section class="price_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Predict Your Property Price Now !
        </h2>
        <p>
          Get Report For Your Property Using Artificial Intelligence
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>

              </h4>
              <h6>
                Free For Limited Time !
              </h6>
            </div>
            <div class="text-box">
              <h2>
                𝙴̶𝙶̶𝙿̶ ̶𝟷̶𝟶̶𝟶̶𝟶̶
              </h2>
              <ul>
                <li>
                  We will help you to know
                </li>
                <li>
                  the appropriate price
                </li>
                <li>
                  of your property based on
                </li>
                <li>
                  similar properties using
                </li>
                <li>
                  Artificial Intelligence
                </li>
                <li>

                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="#contact">
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end price section -->

  <!-- sale section -->

  <section class="sale_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Properties For Sale
        </h2>
        <p>
          There are many variations of properties available, apartments, duplexes, studios, chales, villas, and
          penthouses!
        </p>
      </div>
      <div class="sale_container">

        <div class="box">
          <a href="property.html">
            <div class="img-box">
              <img src="{% static 'image/s-1.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
          </a>
        </div>

        <div class="box">
          <a href="property.html">
            <div class="img-box">
              <img src="{% static 'image/s-2.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="property.html">

            <div class="img-box">
              <img src="{% static 'image/s-3.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="property.html">

            <div class="img-box">
              <img src="{% static 'image/s-4.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="property.html">

            <div class="img-box">
              <img src="{% static 'image/s-5.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="property.html">

            <div class="img-box">
              <img src="{% static 'image/s-6.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                apertments house
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
            </div>
        </div>
        </a>
      </div>
      <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div>
    </div>
  </section>

  <!-- end sale section -->

  <!-- deal section -->

  <section class="deal_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Very Good Deal For House
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in
              some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
            <a href="">
              Get A Quote
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="box b1">
              <img src="{% static 'image/d-1.jpg' %}" alt="">
            </div>
            <div class="box b1">
              <img src="{% static 'image/d-2.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end deal section -->


  <!-- us section -->
  <section class="us_section layout_padding2">

    <div class="container">
      <div class="heading_container">
        <h2>
          Why Choose Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'image/u-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3 class="price">
                10000+
              </h3>
              <h5>
                Properties
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'image/u-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                1 minitue < </h3>
                  <h5>
                    Report Delivered
                  </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'image/u-3.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                1000+
              </h3>
              <h5>
                Satisfied Customers
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'image/u-4.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                <strong>
                  𝙴̶𝙶̶𝙿̶ ̶𝟷̶𝟶̶𝟶̶𝟶̶
                </strong>

              </h3>
              <h5>
                Free Services
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end us section -->

  <!-- client secction -->

  <section class="client_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          What Our Customers Say
        </h2>
      </div>
      <div class="client_container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'image/photo_2023-02-22_09-51-31.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    <span>Khairy</span>
                    <hr>
                  </h5>
                  <p>
                    There are many variations of websites for real estates available, but this one anre the best, they
                    sent me
                    an e-mail with all details of similar apartments and a prediction of my apartment price, and I
                    selled it
                    ater they advice within a week!
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'image/hammamy.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    <span>Hammamy</span>
                    <hr>
                  </h5>
                  <p>
                    There are many variations of projects to work, but this model is toxic, It gives a 90% accuracy, but
                    it makes me say A7A, or actually I always say A7A
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'image/abdelsalam.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    <span>Abd-Elsalam</span>
                    <hr>
                  </h5>
                  <p>
                    Oh yeah it's a good project, I will Fuck anyone who didn't work on this project
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section " id="contact">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Ezbet Saad, Sidi Gaber, Alexandria Governorate 5432042, Egypt"
                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form  method="POST">
              {% csrf_token %}
              <div>
                <input type="text" placeholder="Name" id="name" name="name" />
              </div>
              <div>
                <input type="email" placeholder="Email" id="email" name="email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" id="phone" name="phone" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" id="msg" name="msg" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->
  <section class="info_section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static 'image/location.png' %}" width="18px" alt="">
              </div>
              <p>
                Alex, Egypt
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'image/phone.png' %}" width="12px" alt="">
              </div>
              <p>
                +20 109 717 2419
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'image/mail.png' %}" width="18px" alt="">
              </div>
              <p>
                egyestatecompany@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              About Us
            </h5>
            <p>
              Team Work From Faculty of Computers And Data Science, Alexandria University
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Links
            </h5>
            <ul>
              <li>
                <a href="">
                  Hammamy
                </a>
              </li>
              <li>
                <a href="">
                  Khairy
                </a>
              </li>
              <li>
                <a href="">
                  Hassan
                </a>
              </li>
              <li>
                <a href="">
                  Abdelsalam
                </a>
              </li>
              <li>
                <a href="">
                  Youssef
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="{% static 'image/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'image/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'image/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'image/youtube.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">EGY-ESTATES Team Work</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>

</html>